.Table23 {
  width: 60rem;
  display: flex;
  justify-content: space-around;
}

div.container-fluid.Head {
  width: 70rem;

  display: flex;

  justify-content: center;
}
.table34 {
  border: grey solid;
}
.input {
  width: 8rem;
}
.one {
  width: 20rem;
}
#btn1 {
  background-color: #0d6efd;
  color: rgb(221, 225, 228);
  font-weight: 500;
  font-size: 15px;
}
