.row {
  display: flex;
  justify-content: center;
}
.table2{
  border: solid 2px black;
}

@media screen and (max-width: 400px) {
  #form-control {
    border: solid black;
    width: 5rem;
  }
  #Table {
    border: black solid;
    width: auto;

  }
  #buttons {
    display: flex;
    flex-direction: column;
    width: 13rem;
  }
}
